.root {
  -fx-base: #8B8989;
  -fx-background-color: #8B8989;
  -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
}

.line-chart{
  -fx-base: white;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
    -fx-effect: dropshadow(two-pass-box , gray, 10, 0.0 , 4, 5);
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}



