.background {
    -fx-background-color: radial-gradient
        (focus-angle 0.0deg, focus-distance 0.0%, 
        center 50.0% 50.0%, radius 100.0%, 
        rgb(255,255,255) 0.0, rgb(0,0,0) 100.0);
}


.button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.button:hover { 
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


